<div class="row">
    <div class="col-8 m-auto">
        <form [formGroup]="formGroupEst">
            <div class="mb-3">
              <label for="name" class="form-label">Nome</label>
              <input type="text" formControlName="name" class="form-control"
                id="name"
                placeholder="Digite seu nome"
              />
              <div *ngIf="submitted && name.invalid">
                <small class="text-danger">Nome Invalido!</small>
              </div>
              </div>
              <div class="mb-3">
                <label for="name" class="form-label">Email</label>
                <input type="text" formControlName="email" class="form-control"
                  id="email"
                  placeholder="Digite seu email"
                />
                <div *ngIf="submitted && name.invalid">
                  <small class="text-danger">Email Invalido!</small>
                </div>
                </div>
                <button class="btn btn-primary" (click)="save()">Salvar</button>
                <button class="btn btn-primary" (click)="clean()">Limpar</button>
        </form>
    </div>
</div>