<app-professor-form 
[professor]="professor"
(saveEvent)="onSaveEvent($event)"

> </app-professor-form>

<table class="table table-dark mt-3">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let professor of professores">
        <td>{{professor.id}}</td>
        <td>{{professor.name}}</td>
        <td>{{professor.email}}</td>
        <td>
          <button class="btn btn-warning me-2" (click)="edit(professor)">Editar</button>
          <button class="btn btn-danger" (click)="delete(professor)">Deletar</button>
        </td>
      </tr>
    </tbody>
  </table>